* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111927;
}

#containerImgTitle {
    display: flex;
    justify-content: center;
}

#imgTitle {
    height: 200px;
    margin: 20px;
}

#containerPokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

#containerImgPokemon {
    border: 3px #006DB3 solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

#containerImgPokemon:hover {
    border: 3px #FFCC01 solid;
}

#containerImageDresseur{
    padding: 20px;
}
#imageDresseur{
    width: 300px;
}
#titreConnexion {
    text-align: center;
    color: white;
    padding: 20px;
}
#containerBoutonRetour{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
}
#BoutonRetour {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #385BA8;
    text-decoration: none;
}
#BoutonRetour:hover{
    color: #FFFF00;
}
#containerImageEtFrom{
    display: flex;
    justify-content: space-evenly;
}
#containerInscription{
    padding-top: 100px;
    border: white 2px solid;
    padding: 5px;
    height: 50%;
    border-radius: 10px;
    margin-top: 50px;
}
.renseignement{
    color: #FFCC01;
    font-size: 20px;

}
#titreInscription{
    color: #006DB3;
    padding: 10px;
}
#nom{
    padding: 5px;
    border: 2px solid #FFCC01;
    border-radius: 4px;
    background-color: #006DB3;
    color: #FFCC01;
    margin: 5px;
}
#prenom{
    padding: 5px;
    border: 2px solid #FFCC01;
    border-radius: 4px;
    background-color: #006DB3;
    color: #FFCC01;
    margin: 5px;
}
#email{
    padding: 5px;
    border: 2px solid #FFCC01;
    border-radius: 4px;
    background-color: #006DB3;
    color: #FFCC01;
    margin: 5px;
}
#motdepasse{
    padding: 5px;
    border: 2px solid #FFCC01;
    border-radius: 4px;
    background-color: #006DB3;
    color: #FFCC01;
    margin: 5px;
}
#inscription{
    padding: 8px;
    border: 2px solid #FFCC01;
    border-radius: 4px;
    background-color: #006DB3;
    color: #FFCC01;
    margin-top: 20px;
    margin-left: 100px;
    cursor: pointer;
    font-size: 15px;
}
#buttonConnect{
    background-color: #D75655;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
#buttonConnect:hover{
    background-color: #F9A97F;
}

#containerButtonConnect{
    display: flex;
    justify-content: center;
}
#styleGo{
    background-color: #A22429;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: black 2px solid;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    margin-left: 125px;
}
#styleGo:hover {
    background-color: #0D9BCD;
}